
.products {
    margin-top: 0px;
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
                  
}
.about_product {
    width: 1000px;

}
.simpl_text{
    margin-top: 11px;
    font-size: 16px;
}
.prod_name {
    margin-top: 7px;
    font-size: 50px;

}
.av_colors {
    margin-top: 20px;
    font-size: 40px;

}
.button_black {
    background-color: black;
    color: #fff;
}
.extra-text_black {
    color: black;
}

.image_product {
    width: 100%;
    margin-left: 50px;

}
.image_product img{
    width: 755px;
    height: 755px;
}
.group_color {
    margin-top: 14px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
}
  .promo {
    margin-top: 10px;
    font-size: 13px;
    color: slategray;
}
.round_b {
    padding: 37px;
    border-radius: 40px;
    width: 37px;
    border: 1px solid #eee;
    border-color: darkgrey;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #9c9a9a, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}
.white {
    background-color: white;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}

